<div id="cancelOrder">
    <link rel="stylesheet" href="/Content/styles-bootstrap.css">
    <link rel="stylesheet" href="/Templates/Orders/CancelOrderTemplate/CancelOrderTemplate.css">

    <form id="cancelOrderForm" class="container">
        <section>
            <div id="select-reason-radios" class="select-reason">
                <div class="radio-wrapper">
                    <input type="radio" id="delayed" name="cancel-reason" checked value="1">
                    <label for="delayed">{{DelayedOrder}}</label>
                </div>
                <div class="radio-wrapper">
                    <input type="radio" id="foundother" name="cancel-reason" value="2">
                    <label for="foundother">{{ProductsOnOtherShop}}</label>
                </div>
                <div class="radio-wrapper">
                    <input type="radio" id="other" name="cancel-reason" value="3">
                    <label for="other">{{Other}}</label>
                </div>
            </div>
            <textarea id="other-description" class="d-none"></textarea>
        </section>
        {{#if NotBankTrasfer}}
        <div class="alert success">
            {{MoneyWillBeRefunded}}
        </div>
        {{else}}
        {{#if IsPending}}
        {{> ReturnPage}}
        {{else}}
        <section>
            <div class="select-reason">
                <div class="radio-wrapper">
                    <input type="radio" id="not-transfered" name="not-paid-reason" checked value="0">
                    <label for="not-transfered">{{MoneyNotTransfered}}</label>
                </div>
                <div class="radio-wrapper">
                    <input type="radio" id="placed-transfer" name="not-paid-reason" value="1">
                    <label for="placed-transfer">
                        {{TransferNotUpdated}}
                    </label>
                </div>
            </div>
            <div id="bank-not-updated" class="iban d-none">
                {{> ReturnPage}}
            </div>
        </section>
        {{/if}}
        {{/if}}

        <section>
            <button id="cancelOrderFormSubmit" type="submit" class="btn btn-success">{{CancelOrder}}</button>
        </section>
    </form>
</div>

<script src="/Scripts/jquery-3.4.1.min.js"></script>
<script src="/Templates/Orders/CancelOrderTemplate/CancelOrderTemplate.js"></script>

